.App {
  border: solid 0.001px rgba(0, 0, 0, .1);
  border-radius: 5px;
  box-shadow: 4px 3px 3px rgba(0, 0, 0, .2);
  background-color:  lightslategray;
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px 10px;
  -webkit-user-select: none;
  user-select: none;
  margin-top: 30%;
}

.on{
  font-size: 3rem;
  color: #0000FF;
  margin: 1rem;
}

.drum{
  margin: 1rem;
  font-size: 3rem;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  box-shadow: 4px 3px 3px rgba(0, 0, 0, .6); 
  border: solid 0.001px rgba(0, 0, 0, .1);   
  color: white;
  cursor: pointer;   
  padding: 5px;
  background-color: #0000FF;
}


